*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: red;
  height: 200px;
}

aside{
  background-color: yellow;
  height: 50px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.colonnasx{
  background-color: greenyellow;
  height: 750px;
  width: 20%;
  float: left;
}

.colonnacenter{
  background-color: green;
  height: 750px;
  width: 60%;
  float: left;
}

.colonnadx{
  background-color: lightblue;
  height: 250px;
  width: 20%;
  float: left;
}

.colonnadx2{
  background-color: blue;
  height: 250px;
  width: 20%;
  float: right;
}

.colonnadx3{
  background-color: darkblue;
  height: 250px;
  width: 20%;
  float: right;
}

footer{
  background-color: gray;
  height: 200px;
}
