*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 60%;
  margin: auto;
}

header{
  background-color: red;
  height: 200px;
  margin-top: 3%;
}

nav{
  background-color: greenyellow;
  height: 50px;
  margin-bottom: 2%;
}

.clearfix{
  position: relative;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.colonnasx{
  background-color: yellow;
  height: 400px;
  width: 25%;
  float:left;
}

.colonnacenter{
  background-color: green;
  height: 200px;
  width: 40%;
  float:left;
  margin-left: 5%;
  margin-right: 5%;
}

.colonnadx{
  width: 25%;
  float: left;
  margin-bottom: 5%;
}

.widgetdx1{
  background-color: lightblue;
  height: 250px;
  margin-bottom: 10%;
}

.widgetdx2{
  background-color: blue;
  height: 250px;
  margin-bottom: 10%;
}

.widgetdx3{
  background-color: darkblue;
  height: 250px;
  margin-bottom: 10%;
}

footer{
  background-color: gray;
  height: 200px;
  margin-bottom: 5%;
}
